<!DOCTYPE html>
<head>
    <title>Document</title>
    <style>

    </style>

</head>
<body>

<script>
    "use strict"


    const guests = ['baLOO', 'chARliE', 'BEth'];

    class Greeter {

    constructor(guests) {

    this.guests = guests;
}

    greet(formatingType) {


    if (formatingType == 'uppercase') {

    return this.guests.map( guest => guest.toUpperCase() );


} else if (formatingType == 'lowercase') {

    return this.guests.map( guest => guest.toLowerCase() );

} else if (formatingType == 'capitalize' || !formatingType) {

    return this.guests.map( guest => guest[0].toUpperCase() + guest.slice(1).toLowerCase() );

}

}

}

    class HTMLGreeter extends Greeter {

    sendGreeting(formatingType) {

    this.greet(formatingType).map( guestName => document.body.innerHTML += `<p>Hi ${guestName}!</p>`)

}

}

    let greeter = new HTMLGreeter(guests);

    greeter.sendGreeting('uppercase');
    greeter.sendGreeting('lowercase');
    greeter.sendGreeting('capitalize');
    greeter.sendGreeting();


</script>
</body>
</html>